@import 'fonts.css';

*{
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   font-family: 'PT Sans Regular';
}
img{
   width: 100%;
}
/* ============================================== HEADER start ================================================ */
header{
   height: 603px;
}
.header__content{
   background: url(../images/header_bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.header__nav{
   background: #1e2020;
   padding: 23px 0;
}
.logo{
   padding: 6px 18px;
   text-transform: uppercase;
   color: white;
   font-size: 26px;
   line-height: 20px;
   border-width: 1px;
   border-style: solid;
   border-image: linear-gradient(133deg, #fff,#ffcb02) 1;
}
.logo span{
   color: #ffcb02;
}
.logo:hover{
   color: white;
   text-decoration: none;
}
.header__link{
   font-size: 20px;
   color: white;
   text-transform: uppercase;
   margin: 0 27px;
}
.header__link:hover{
   color: #ffcb02;
   text-decoration: none;
}
ul{
   margin: 0;
}
header ul li:nth-child(3) .header__link{
   margin-right: 0;
}
.header__content h1{
   color: white;
   text-transform: uppercase;
   font-family: 'PT Sans Regular';
   font-size: 60px;
   margin-bottom: 40px;
}
.header__content p{
   color: white;
   line-height: 27px;
   font-size: 22px;
   font-family: 'PT Sans Regular';
}
/* ============================================== HEADER end ================================================ */
/* ============================================= MAIN start =========================== */
main{
   background: #282929;
}
.history__text{
   padding: 60px 0 57px;
}
.history__title{
   color: #d2a90b;
   text-transform: uppercase;
   font-family: 'PT Sans Regular';
   font-size: 28px;
   line-height: 20px;
   margin-bottom: 20px;
}
.history__title::before{
   content: '';
   display: block;
   width: 52px;
   height: 2px;
   background: #fff;
   margin-bottom: 8px;
   margin-left: auto;
}
.history__title::after{
   content: '';
   display: block;
   width: 52px;
   height: 2px;
   background: #fff;
   margin-top: 8px;
}
.history__description{
   color: white;
   left: 24px;
   font-size: 18px;
   font-family: 'Montserrat Regular';
   text-align: justify;
}
.carousel-control-next,
.carousel-control-prev{
   color: #ffcb02;
   font-size: 30px;
   opacity: 1;
}
.carousel-control-next:hover,
.carousel-control-prev:hover,
.carousel-control-next:focus,
.carousel-control-prev:focus{
   color: #ffcb02;
}
.carousel-control-next i::after,
.carousel-control-prev i::after{
   color: #a5a6a6;
   opacity: 1;
}
.carousel__text{
   background: #282929;
   border-radius: 6px;
   padding: 15px 14px 11px 15px;
   height: 100%;
}
.history__slider{
   background: #1f2020;
   padding: 15px 0;
}
.carousel__title{
   color: white;
   text-transform: uppercase;
   font-family: 'Montserrat Bold';
   font-size: 24px;
   line-height: 17px;
   margin-bottom: 9px;
}
.carousel__title span{
   color: #ffcb02;
   font-family: 'Montserrat Bold';
}
.carousel__description{
   color: white;
   font-family: 'Montserrat Regular';
   font-size: 18px;
   line-height: 24px;
}
p{
   margin-bottom: 0;
}
.works__text{
   padding: 60px 0 57px;
}
.works__title{
   color: #d2a90b;
   text-transform: uppercase;
   font-family: 'PT Sans Regular';
   font-size: 28px;
   line-height: 20px;
   margin-bottom: 20px;
}
.works__title::before{
   content: '';
   display: block;
   width: 52px;
   height: 2px;
   background: #fff;
   margin-bottom: 8px;
   margin-left: auto;
}
.works__title::after{
   content: '';
   display: block;
   width: 52px;
   height: 2px;
   background: #fff;
   margin-top: 8px;
}
.works__description{
   color: white;
   left: 24px;
   font-size: 18px;
   font-family: 'Montserrat Regular';
   text-align: justify;
}
.nav-pills .nav-link{
   background: #fff;
   color: #1f2020;
   text-transform: uppercase;
   font-family: 'Montserrat Regular';
   font-size: 16px;
   line-height: 11px;
   border-radius: 19px;
   padding: 14px 29px 12px;
   margin-bottom: 20px;
}
.nav-pills .nav-link.active{
   background: #1f2020;
   color: white;
}
.tab__text{
   background: #1f2020;
   border-radius: 6px;
   padding: 21px 14px 19px 23px;
}
.tab__text-top h3{
   color: #d2a90b;
   text-transform: capitalize;
   font-family: 'PT Sans Regular';
   font-size: 24px;
   line-height: 18px;
   margin-bottom: 3px;
}
.tab__text-top p{
   color: white;
   text-align: justify;
   font-family: 'Montserrat Regular';
   font-size: 16px;
   line-height: 24px;
}
.tab__text a{
   background: #ffcb02;
   color: white;
   text-transform: uppercase;
   font-family: 'Montserrat Bold';
   font-size: 16px;
   line-height: 12px;
   border-radius: 22px;
   padding: 15px 29px 14px 31px;
}
.capabilities__title{
   color: #d2a90b;
   text-transform: uppercase;
   font-family: 'PT Sans Regular';
   font-size: 28px;
   line-height: 20px;
   margin-bottom: 30px;
   margin-top: 60px;
}
.capabilities__title::before{
   content: '';
   display: block;
   width: 52px;
   height: 2px;
   background: #fff;
   margin-bottom: 8px;
   margin-left: auto;
}
.capabilities__title::after{
   content: '';
   display: block;
   width: 52px;
   height: 2px;
   background: #fff;
   margin-top: 8px;
}
.card-header button{
   width: 100%;
   text-align: left;
   padding: 17px 15px 18px;
   background: #1f2020;
   color: white;
   font-family: 'Montserrat Bold';
   font-size: 20px;
   line-height: 24px;
   text-transform: uppercase;
   display: flex;
   align-items: center;
   border: none;
   border-radius: 0;
}
.card-header button:focus{
   text-decoration: none;
}
.card-header button i{
   font-size: 28px;
   margin-right: 10px;
}
.card-header button:hover{
   color: white;
   text-decoration: none;
}
.card-header{
   padding: 0;
   border: none;
   border-radius: 0;
}
.card{
   border: none;
   border-radius: 0;
   margin-bottom: 16px;
}
.card-body{
   background: #1f2020;
   color: white;
   font-family: 'Montserrat Regular';
   line-height: 24px;
   font-size: 18px;
   text-align: justify;
   border: 1px solid #d2a90b;
   border-top: none;
}
.card-header button:not(.collapsed){
   background: #d2a90b;
   color: #282929;
}
/* ============================================= MAIN end =========================== */
/* ============================================= FOOTER start =========================== */
footer{
   background: #1f2020;
   padding: 20px 0;
}
footer ul{
   margin: 45px 0;
}
.footer-contacts a:nth-child(1){
   color: white;
   font-size: 20px;
   font-family: 'PT Sans Regular';
   margin-right: 30px;
}
.footer-contacts a:nth-child(2){
   color: white;
   font-size: 20px;
   font-family: 'PT Sans Regular';
}
.footer-contacts a:nth-child(1):hover,
.footer-contacts a:nth-child(2):hover{
   text-decoration: none;
}
/* ============================================= FOOTER end =========================== */

@media (max-width:536px) {
   .container:nth-child(1) {
      justify-content: space-around;
      flex-wrap: wrap;
   }
}

@media (max-width:440px) {
   .footer-nav {
      flex-wrap: wrap;
      justify-content: space-around;
   }
   .header-nav {
      flex-wrap: wrap;
      justify-content: space-around;
   }
   .header__content h1{
      font-size: 52px;
   }
   .header__content p {
      font-size: 24px;
   }
   header {
      height: fit-content;
   }
}